*{
margin:0px;
padding:0px;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:brown;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 10px;
background:black;
position:fixed;
width:100%;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
}

.logo{
color:white;
}

.logo span{
color:white;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
height:60vh;
padding:20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Formats the picture into a circle */
    object-fit: cover;  /* Keeps image aspect ratio without stretching */
    display: block;
    margin: 15px auto;  /* Centers the image */
    border: 3px solid #ffffff;
}

.hero span{
color:Yellow;
}

.btn{
padding:12px 25px;
background:black;
color:white;
text-decoration:none;
display:inline-block;
margin-top:50px;
border-radius:30px;
}

section{
padding:10px;
}

h2{
text-align:center;
margin-bottom:30px;
color:Yellow;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:50px;
}

.card{
background:black;
padding:25px;
border-radius:10px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
}

.skills div{
background:black;
padding:15px;
text-align:center;
border-radius:8px;
}

.social{
margin-top:10px;
}

.social a{
font-size:30px;
color:white;
margin-right:15px;
}

footer{
padding:20px;
background:black;
text-align:center;
}